<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, 'Почтовый адрес' %>
      <%= f.text_field :email %>

      <%= f.label :password , 'Пароль' %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Еще не создали аккаунт? <%= link_to "Зарегистрироваться", signup_path %></p>
  </div>
</div>